In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('titanic.csv')
df.head()

In [15]:
df['number_numerical']=pd.to_numeric(df['number'],errors='coerce',downcast='float')
df['number_categorical']=np.where(df['number_numerical'].isnull(),df['number'],np.nan)

In [16]:
df['cabin_numerical']= df['Cabin'].str.extract('(\d+)')
df['cabin_categorical']=df['Cabin'].str[0]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\atsj6\AppData\Local\Temp\ipykernel_2984\28271597.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['cabin_numerical']= df['Cabin'].str.extract('(\d+)')

In [17]:
df['Ticket_numerical']=df['Ticket'].apply(lambda s:s.split()[-1])
df['Ticket_numerical']=pd.to_numeric(df['Ticket_numerical'],errors='coerce',downcast='integer')
df['Ticket_categorical']=df['Ticket'].apply(lambda s:s.split()[0])
df['Ticket_categorical']=np.where(df['Ticket_categorical'].str.isdigit(),np.nan,df['Ticket_categorical'])
df.head()

,Cabin,Ticket,number,Survived,number_numerical,number_categorical,cabin_numerical,cabin_categorical,Ticket_numerical,Ticket_categorical
0,NaN,A/5 21171,5,0,5.0,NaN,NaN,NaN,21171.0,A/5
1,C85,PC 17599,3,1,3.0,NaN,85,C,17599.0,PC
2,NaN,STON/O2. 3101282,6,1,6.0,NaN,NaN,NaN,3101282.0,STON/O2.
3,C123,113803,3,1,3.0,NaN,123,C,113803.0,NaN
4,NaN,373450,A,0,NaN,A,NaN,NaN,373450.0,NaN